@font-face {
  font-family: "LibreFranklin";
  src: url(../fonts/LibreFranklin.ttf?79b6e141a9934744da5b4f422632a474) format("ttf supports variations"), url(../fonts/LibreFranklin.ttf?79b6e141a9934744da5b4f422632a474) format("ttf-variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
@font-face {
  font-family: "LibreFranklin Ital";
  src: url(../fonts/LibreFranklin-Italic.ttf?f3b7261793fef130b4c0eff722fc1b26) format("ttf supports variations"), url(../fonts/LibreFranklin-Italic.ttf?f3b7261793fef130b4c0eff722fc1b26) format("ttf-variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
button {
  background-color: #00cb71;
  padding: 10px;
  color: #06071A;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  margin: 10px 0;
}

.block {
  max-width: 200px;
  text-align: left;
}
.block .block-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.form-group label {
  color: #06071A;
  margin-bottom: 5px;
}
.form-group input {
  border: 1px solid #878787;
  padding: 10px;
}
.form-group.has-danger .text-muted {
  color: #F13B0A;
}

nav {
  background-color: #00cb71;
}
nav .main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
nav .main-navigation .logo {
  width: 130px;
  height: auto;
}
nav .main-navigation .logo img {
  width: 100%;
}
nav .main-navigation ul.menu {
  font-weight: bold;
  font-size: 18px;
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
nav .main-navigation ul.menu li {
  color: #2b354f;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
nav .main-navigation ul.menu li a {
  color: #2b354f;
}
nav .main-navigation ul.menu li a:hover {
  color: #e87b1c;
}
nav .main-navigation ul.menu li:hover ul {
  /*display: block;*/
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}
nav .main-navigation ul.menu li ul {
  list-style: none;
  /*display: none;*/
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
nav .active {
  text-decoration: underline;
}

nav.footer-menu {
  background-color: transparent;
  width: 50%;
  margin: 0 auto;
}
nav.footer-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #FFFFEE;
}
nav.footer-menu ul a {
  color: #FFFFEE;
  transition: color 0.2s ease-in-out;
}
nav.footer-menu ul a:hover {
  color: #e87b1c;
}

body, html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

body {
  font-family: LibreFranklin, sans-serif;
  background-color: #FFFFEE;
  color: #06071A;
}

.error-message,
.success-message {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px;
}

.success-message {
  background-color: #46D600;
}

.error-message {
  background-color: #F13B0A;
}

#closeFlash {
  cursor: pointer;
}

.container {
  padding: 30px 0;
  width: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background-color: #e87b1c;
}
header .header {
  padding: 40px 0;
}
header h1 {
  margin: 0;
  padding: 20px 0;
}

.works {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.works .card {
  background-color: #f3f3f3;
  border-radius: 8px;
  margin: 0 20px;
  padding: 20px;
}

.col-2 {
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 60px 0;
  text-align: center;
  color: #FFFFEE;
  background-color: #2b354f;
}
